
.container {
        display: inline-block;
        cursor: pointer;
}

.bar1 {
        width: 0px;
        height: 0px;
        border-left: 15px solid
    transparent;
        border-right: 15px solid
    transparent;
        border-top: 30px solid;
}

.change .bar1 {
        -webkit-transform: rotate(-270deg)
        translate (9px, 6px);
}
