body {
      background-color: #9258a7;
      background-repeat: no-repeat;
      background-size: cover;
}

#main {
  border: 1px solid;
  background-color: #f9ffe6;
  border-color: lightgrey;
  color: #333333;
  padding: 0px 20px 20px 20px;
  width: auto;
  height: auto;
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: Garamond, sans-serif;
}

ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  list-style-type: none; /* Removes bullets. */
  margin: 0; /* Set to zero to remove browser default settings. */
  padding: 0; /* Set to zero to remove browser default settings. */
  overflow: hidden;
  background-color: #333;
}

li {
  float: right; /* use float to get block elements to slide next to each other */
}

li a{
  display: block; /* displaying the links as block elements makes the area clickable */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
